/* Start Global Rules */
:root {
    --mainBlue : rgb(37, 209, 244) ;
    --textColor : #0F172A ;
    --green : #A3E635 ;
    --bgColor : rgb(12, 21, 24) ;
}
* {
      font-family: "Space Grotesk", sans-serif;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body  {
    background-color: var(--bgColor);
    color: white;
}

main {
    display: flex;
    flex-direction: column; ;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    gap: 2.5em;
    width: 100vw;
}
/* End Global Rules */

/* Start Header */
header {
    background-color: var(--bgColor);
    border-bottom:2px solid color-mix(in srgb, var(--mainBlue), transparent 60%) ;
    box-shadow: 0 1px 5px color-mix(in srgb, var(--mainBlue), transparent 70%) ;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1em 4em ;

}

.logo{
    display: flex;
    align-items: center;
    color : white ;
    font-size : 1.5em ;
  font-weight: bold;
  gap: .25em;
}
.logo span {
      font-family: "Space Grotesk", sans-serif;
}

.block-logo {
    color: var(--mainBlue);
}

.logo img {
    width: 34px;
    height: 34px;
}

.btn-setings , .btn-restart{
    background-color:  rgb(37 209 244 /0.1) ;
    border: 1px solid rgb(37 209 244 /0.2);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 50%;
}
.btn-restart i{
  font-size: 14px;
}
.gear{
    transition: .3s all ease;
}
.gear.animated{
    transform: rotate(90deg);
}
/* End Header */

/* Start Main Info */
.infos {
    display: flex;
    justify-content: center;
    gap : .75em ; 
    width: clamp(700px , 60vw , 60vw);
    margin: auto;
    width: 100%;
    padding: 0 1em;
}
.infos > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .25em;
    padding: 1.25em;
    background-color: color-mix(in srgb, var(--mainBlue), transparent 90%) ;
    border: 1px solid color-mix(in srgb, var(--mainBlue), transparent 80%) ;
    border-radius: 1em;
}
    .High-score-box .High-score {
        color: white;
    }
.infos > div > .title ,
.High-score-box  > .title{
    font-size: 14px;
    color: var(--mainBlue);

}
.infos > div > :not(span:first-child){
    font-size: 1.5em;
    font-weight: bold;
}
.score{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 1em;
    transition: all .3s ease;
}
.score img{
    opacity: 0;
}
.score .show-score{
    animation: scorePopup .8s ease  ;
}

@keyframes scorePopup {
    25% {
        opacity: 1;
    }
    25%{
        transform: scale(1.4);
    }
    75% {
        transform: scale(1.4);
        opacity: 1;
    }
    100% {
        transform: scale(.3);
        opacity: 0;
    }
}

.infos > div > .title i {
    font-size: 12px;
    margin-right: .5em;
}

/* End Main Info */

/* Start Game box */
.main-game{
    display: flex;
    justify-content: center;
    gap: .75em;
    margin-top: -1.25em;
    width: 100%;
    padding: 0 1em;
}
main .game {
    background-color: color-mix(in srgb, var(--mainBlue), transparent 90%) ;
    border-radius: 1.5em;
    border: 1px solid color-mix(in srgb, var(--mainBlue), transparent 80%) ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3 , 1fr);
    gap: 1em;
    padding: 1em;
    flex:1 ;
}

.game .outer {
    background-color: color-mix(in srgb, var(--mainBlue), transparent 80%);
    border-radius: 1em;
    border: 1px solid color-mix(in srgb, var(--mainBlue), transparent 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    position: relative;
    min-width: 10ch;
    height: 10ch;
    transform-style: preserve-3d;
    perspective: 400px;
}

.game .outer .inner {
    background-color: color-mix(in srgb, var(--mainBlue), transparent 90%);
    width: 45px;
    height: 45px;
    border-radius: .75em;
}
.game .face{
    cursor: drop-down;
    position: absolute;
    background-color: var(--mainBlue);
    box-shadow: 1px 1px 7px  color-mix(in srgb, var(--mainBlue), transparent 50%),
    -1px 3px 10px rgb(256 256 256 / .2);
    left: 0;
    top: 0;
    /* width: calc((400px - 5.3em)/4);
    height: calc((400px - 5.3em)/4); */
    width: 100%;
    height: 10ch;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: wrap;
    color: black;
    font-weight: 600;
    text-shadow: 1px 1px 10px;
    padding: .5em;
    transition: all .3s ease;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    text-align: center;
}
.back{
    cursor: pointer;
    position: absolute;
    background-color: var(--mainBlue);
    top: 0;
    width: 100%;
    height: 10ch;
    border-radius: 1em; 
    z-index: -1; 
    transition: all .3s ease;
    transform-style: preserve-3d;
}
.question-mark{
    font-size: 3.25em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
.game .done{
    background-color: var(--green);
    box-shadow: 0px 1px 7px color-mix(in srgb, var(--green), transparent 50%), 0px 2px 10px rgb(256 256 256 / .2); 
    border: var(--green);
    /* animation: pulse-success 1s ease  infinite ; */
}
.pulse {
        --animationColor : var(--mainBlue) ;
        animation: pulse-success 1s ease  infinite ;
}
@keyframes pulse-success {
    0%{ box-shadow: 0px 1px 7px color-mix(in srgb, var(--animationColor), transparent 50%), 0px 2px 10px rgb(256 256 256 / .2); scale: 1;} 
    50%{ box-shadow: 0px 2px 12px color-mix(in srgb, var(--animationColor), transparent 50%), 0px 3px 14px rgb(256 256 256 / .2); scale: 1.02;} 
    100%{ box-shadow: 0px 1px 7px color-mix(in srgb, var(--animationColor), transparent 50%), 0px 2px 10px rgb(256 256 256 / .2); scale: 1;} 
    /* 0%{scale : 1} 
    50% {scale :1.02} 
    100% {scale : 1}  */
}

/* .outer:hover{
    transform: rotateY(-180deg);
} */

/* End Game box */
/* Start Levels */
.levels{
    background-color: color-mix(in srgb, var(--mainBlue), transparent 90%) ;
    border-radius: 1.5em;
    border: 1px solid color-mix(in srgb, var(--mainBlue), transparent 80%) ;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap ;
    gap: 1em;
    justify-content: space-evenly;
}
.levels h3 {
    font-size: 20px;
    text-indent: .25em;
}
.levels .path{
    background-color: #324461;
    width: 100%;
    height: .5em;
    border-radius: 4px;
    /* overflow: hidden; */
}
.levels .progress-bar{
    width: 50%;
    height: 100%;
    background-color: var(--mainBlue);
    border-radius: 4px;
}
.levels p {
    font-size: 14px;
    color: #94A3B8;
}
 .btns{
    display: flex;
    gap: .75em;
}
 .btns > button {
    flex: 1;
    cursor: pointer;
    border-radius: 1em;
    font-weight: bold;
    font-size: 16px;
    padding: .75em;
}
.btns .start , 
.btns .level{
    background-color: var(--mainBlue);
    box-shadow: 0px 4px 10px  rgba(37, 209, 244 , .4) ;
    border: 0;
} 
.btns .start i {
    font-size: 14px;
    margin-right: .5em;
}
/* .btns .btn-setings{
    padding: 1.2em 0em;
    flex: 1 ;
} */
.btns .btn-restart ,
.to-dashbord {
    color: var(--mainBlue);
    display: flex;
    justify-content: center;
    gap:.4em ;
    background-color: color-mix(in srgb, var(--mainBlue), transparent 90%) ;
    border: 0.1px solid color-mix(in srgb, var(--mainBlue), transparent 70%) ;
  
}
.btns .setings img{
    width: 1.1em;
}
.game-stat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: .5em;
}
.game-stat h2 {
    color: var(--mainBlue);
}
.levels .btns > button {
    padding: .25em;
}
/* End Levels */
/* Start definition */
.definition{
    background-color: color-mix(in srgb, var(--mainBlue), transparent 90%) ;
    border-radius: 1.5em;
    border: 1px solid color-mix(in srgb, var(--mainBlue), transparent 80%) ;
    padding: 1em;
    gap: 1em;
    flex: 1;
}

.col-2{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: stretch;
    flex: .5;
}

.definition{
   flex: 1 100%;
}

.definition h3{
    color: var(--mainBlue);
    display: flex;
    align-items: center;
    gap: .25em;
    padding-bottom: .75em;
}
.definition h3 svg{
    width: 1.2em;
}

.definition .matches{
    display: flex;
    flex-flow: column nowrap;
    gap: .75em;
    height: 28vh;
    overflow-y: auto;
}
.match-card{
    background-color: rgba(5, 13, 18,50%);
    border: 1px solid rgba(33, 85, 112, 0.5);
    border-radius: 1em  ;
    padding: .75em;
    overflow: hidden;
    flex-shrink: 0;

}
.definition .words{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.definition .words i{
    color: #9CA3AF;
}
.definition .words span{
    color: var(--green);
    font-weight: 800;
}
.definition .match-card p {
    font-size: .75em;
    color: #9CA3AF;
    /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
    width: 27vw;
}
.definition .match-card .info{
    display: flex;
    flex-flow: column;
    gap: .25em;
}
.definition .match-card .more-btn{
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: .25em;
    display: none;
}
/* End definitions */

/* Start Setings Dropdown */
.setigns-drop-down{
    position: absolute;
    z-index: 300;
    background-color: #0A1619;
    border: 1px solid color-mix(in srgb, var(--mainBlue), transparent 75%) ;
    /* box-shadow: 0 0 10px 2px color-mix(in srgb, var(--mainBlue), transparent 75%) ; */
    border-radius: 1em;
    right: 4em;
    width: 382px;
    margin-top: .25em;
    display: none;
}
.setigns-drop-down .title {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 1.5em;
    position: relative;
}
.setigns-drop-down .title .delete{
    cursor: pointer;
}
.setigns-drop-down .title .delete:active{
    color: rgba(238, 17, 1, 0.741);
}
.setigns-drop-down .title h3 i {
    color: var(--mainBlue);
    margin-right: .25em;
}
.setigns-drop-down .title::after{
content: "";
background-color: color-mix(in srgb, var(--mainBlue), transparent 75%);
width: 100%;
height: 1px;
position: absolute;
bottom: 0;
left: 0;
}
.toggels > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
.toggels{
    position: relative;
    padding: .5em 1.5em;

}
.toggels::after{
    content: "";
background-color: color-mix(in srgb, var(--mainBlue), transparent 75%);
width: 100%;
height: 1px;
position: absolute;
bottom: 0;
left: 0;
}
.toggels > div  p {
    font-size: .75em;
    color: #94A3B8 ;
}
.toggels > div label {
    width : 3em ;
    height: 1.75em;
    border-radius: 1em;
    background-color: color-mix(in srgb, var(--mainBlue), transparent 80%);
    position: relative;
    transition: all .2s cubic-bezier(0, 0.6, 0, 1.03);
    cursor: pointer;

}
.toggels > div label::before{
    content: "";
    background-color: #0A1619;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    position: absolute;
    inset: .25em;
    display: block;
    transition: all .2s cubic-bezier(0, 0.6, 0, 1.03);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3) ;
}
.toggels > div input {
    visibility: hidden;
}
.toggels > div input:checked + label::before{
    transform: translateX(100%);

}
.toggels > div input:checked + label {
    background-color: var(--mainBlue);
}
.toggels > div label:active::before{
    transform-origin: left;
    transform: scaleX(1.2);
}
.toggels > div input:checked + label:active::before{
  transform-origin: right;
  transform: scaleX(1.2);
}
.difficulty{
    padding: 1.5em;
    padding-bottom: 2em;
    display: flex;
    flex-flow: column nowrap;
    gap: .5em;

}
.difficulty > span {
    color: #94A3B8;
    font-size: 14px;
    font-weight: 500;
}
.difficulty .diff-levels{
    display: flex;
    align-items: center;
    background-color: color-mix(in srgb, var(--mainBlue), transparent 90%);
    padding: .25em ;
    border-radius: 1.5em;
}
.difficulty .diff-levels > span {
    flex: 1 calc(100% / 3);
    padding: .5em 2em;
    border-radius: 1em;
    color: #64748B;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition: all .3s ease;
}
.difficulty .diff-levels .active{
    background-color: #0A1619;
    color: var(--mainBlue);
}
.setigns-drop-down .footer {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .75em;
    background-color:  color-mix(in srgb, var(--mainBlue), transparent 95%) ;
}
.setigns-drop-down .footer .btn-close{
    border: 1px solid color-mix(in srgb, var(--mainBlue), transparent 75%) ;
    background-color: transparent;
    color: white;
    font-size: 14px;
    padding: 10px;
    flex : 1 48% ;
    cursor: pointer;
    border-radius: 1em;
    font-weight: 600;
}
.setigns-drop-down .footer .btn-save{
    color: #0A1619;
    font-size: 14px;
    padding: 10px;
    flex : 1 48% ;
    background-color: var(--mainBlue);
    border: 0;
    border-radius: 1em;
    font-weight: 600;
    cursor: pointer;
}
/* End Setings Dropdown */
/* Start popup */
.popup{
    display: none;
    background-color: #0D1C24;
    position: fixed;
    z-index: 999;
    width: clamp(500px,40vw,50vw);
    height: 65vh;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    padding: 2em;
    border-radius: 1.5em;
    border: 1px solid color-mix(in srgb, var(--mainBlue), transparent 80%);
}
.popup .head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup .head img {
    width: 5em;
}
.popup .head h1{
    margin-top: -.25em;
    color: var(--mainBlue);
}
.popup .status{
    display: flex; ;
    gap: 1em;
}

.popup .status > div{
    background-color: rgba(8,20,25,0.5);
    border: 1px solid #162B35;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75em;
    flex: 1;
}
.popup .status > div h2 {
    font-size: 16px;
    font-weight: bold;
    color: var(--mainBlue);
}
.popup .status > div span{
    font-size: 1.5em;
    font-weight: bold;
}
.popup .progress .title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: .75em;
    letter-spacing: 1px;
    color: #9CA3AF;
}
.popup .progress .title .level{
    color: var(--mainBlue);
}
.popup .progress .path{
    background-color: #324461;
    width: 100%;
    height: .5em;
    border-radius: 4px;
    overflow: hidden;
}
.popup .progress .bar{
    width: 50%;
    height: 100%;
    background-color: var(--mainBlue);
    border-radius: 4px;
}


.popup .status {
    margin-top: 2em;
}

.popup .progress{
    margin-top: 1.5em;
    margin-bottom: 3em;
}




.popup-bg{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4); /* Dark tint */
    backdrop-filter: blur(8px);
}

/* End popup */
/* Start Global Animations */
.btn-animation{
    animation: click .2s ease ;
    animation-iteration-count: 1 ;
}
/* .toTransparent {
    animation: toTransparent .3s ease forwards ;
} */
@keyframes click {
    0%{scale: 1 ;}
    50%{scale: 1.04;}
    100%{scale: 1;}
}
@keyframes toTransparent {
    0%{opacity: 1 ; display: block;}
    100%{opacity: 0;display: none;}
}
/* End Global Animations */


/* Extra small — phones portrait */ 

@media (max-width: 1024px) { 
    header{
        padding: .7em 1.2em ;
        width: 100vw;
    }
    main {
        margin-top:  .75em;
        gap: 2em;
    }
    /* start info */
    .High-score-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        height: fit-content;
        padding:  1.5em ;
    }
    .High-score-box .title{
        padding: 0;
        display: flex ;
        align-items: center;
        gap: .25em;
        font-weight: bold;
    }
    .High-score-box .title::after{
        width: 0;
    }
    .High-score-box .High-score {
        font-size: 1.5em;
        font-weight: bold;
        /* color: var(--green); */
    }
  
    .infos > div {
        padding: .5em 1em;
    }
    .infos .score {
        height: 1.2em;
    }

    .score img {
        width: 24px;
    }
    /* End info */
    /* Start Game */
    .main-game{
        flex-flow: column nowrap;
    }
       .game .outer {
        font-size: 14px ;
    }
 
    main .game {
        gap: .5em;
    }
    /* End Game */
    /* Start setings */
.setigns-drop-down{
    right: 1em;
    width: 92vw;
}
    /* End setings */
    /* Start Levels */
    .game-stat h2 {
        font-size: 1.25em;
    }

    /* End Levels */
    /* Start popup */
    .popup{
        min-width: unset;
        height: auto;
        zoom: .72;
    }
    .title .level ,.title span:first-child {
        font-size: 1.25em;
    }
    /* End popup */
    /* Start Def */
    .definition .match-card p {
        width: 100%;
    }
    /* End Def */
}
@media (max-width: 768px) {
     .High-score-box .High-score {
  
        color: var(--green);
    }
    /* .High-score-box{
        display: none ;
    } */
  .difficulty{
        padding-bottom: 0;
    }
       .game .outer {
        font-size: 10px ;
    }
 }

/* Medium — tablets */
@media (max-width: 1024px) {

}
